$darkCharcoal: #161C1F;
$lightCharcoal: #323F47;
$white: #FFFFF8;
$darkPink: #F4B5B3;
$lightPink: #F8CEC9;
$darkBlue: #8AAFC7;
$lightBlue: #B0C9D7;
$darkPurple: #BCA6B3;
$lightPurple: #ACB1C0;
$fontDark: rgba(22,28,31,0.5);
$fontLight: rgba(106,100,91,0.87);
$red: #DC3241;
$bodyBg: #DEDFDC;
$kreadivGreen: #05A852;
$kreadivBlue: #015A6B;
$kreadivBrown: #6A645B;
