$darkCharcoal: #161C1F;
$lightCharcoal: #323F47;
$white: #FFFFF8;
$darkPink: #F4B5B3;
$lightPink: #F8CEC9;
$darkBlue: #8AAFC7;
$lightBlue: #B0C9D7;
$darkPurple: #BCA6B3;
$lightPurple: #ACB1C0;
$fontDark: rgba(22,28,31,0.5);
$fontLight: rgba(255,255,248,0.67);
$red: #DC3241;
