.projects {
	&__content {
		padding: 0;
	}
	&--headline {
		margin: 0;
		text-align: center;
	}
	&__item {
		position: relative;
		border-bottom: 1px solid $lightCharcoal;
	}
	.title--project {
		padding-top: 2rem;
		margin: 0;
		transition: all 0.75s;
	}
	.description {
		margin: 1rem 0;
		opacity: 0;
		position: relative;
		top: -2rem;
		transition: all 0.75s;
	}
	.read-more {
		float: right;
		&:active {
			outline: 0;
		}
	}
}
.business-cards {
	border-top: 1px solid $lightCharcoal;
}
.projects__list {
	height: 100vh;
}
.projects__item {
	height: 33.33vh;
}
@include breakpoint(mobileOnly) {
	.icon--close {
		max-width: 1rem;
	}
	.projects__item {
		transition: all 1s;
		&:not(.end) {
			border-bottom: 0;
		}
		.read-more {
			background-color: $darkCharcoal;
			border: 1px solid transparent;
			color: $white;
		}
		.title, .description {
			color: $darkCharcoal;
			font-weight: bold;
		}
		.description {
			opacity: 1;
			top: -0.5rem;
		}
	}
	.business-cards {
		background: url('images/bg-business-cards.jpg') no-repeat center center;
		background-size: cover;
	}
	.onboarding {
		background: url('images/bg-onboarding-screens.jpg') no-repeat center center;
		background-size: cover;
	}
	.rework {
		background: url('images/bg-rework-screens.jpg') no-repeat center center;
		background-size: cover;
	}
}
@include breakpoint(tabletUp) {
	.close {
		&:hover {
			cursor: pointer;
			margin-left: -0.5rem;
			padding-right: 0.5rem;
		}
	}
	.projects__item {
		opacity: 0;
		transition: all 0.75s;
		&:hover {
			.title {
				padding-top: 1rem;
			}
			.description {
				font-size: 1.5rem;
				opacity: 1;
				top: -1rem;
			}
			.title, .description {
				color: $darkCharcoal;
				font-weight: bold;
			}
			.read-more {
				background-color: $darkCharcoal;
				border: 1px solid transparent;
				color: $white;

			}
		}
		&.onboarding {
			&:hover {
				background: url('images/bg-onboarding-screens.jpg') no-repeat center right;
				background-size: cover;
			}
		}
		&.business-cards {
			&:hover {
				background: url('images/bg-business-cards.jpg') no-repeat center right;
				background-size: cover;
			}
		}
		&.rework {
			&:hover {
				background: url('images/bg-rework-screens.jpg') no-repeat center right;
				background-size: cover;
			}
		}
	}

}
