.splash__content {
	margin: 0 auto;
	max-width: 800px;
	padding-top: 3rem;
	height: 100%;
	position: relative;
	.splash__message {
		position: absolute;
		bottom: 5rem;
		left: 1rem;
		opacity: 0;
	}
}
.splash__display {
	font-weight: bold;
}
.splash__headline {
	position: relative;
	color: $fontLight;
}
@include breakpoint(mobileOnly) {
	.display__copy.end {
		padding-bottom: 1rem;
	}
}
@include breakpoint(phabletUp) {
	.display__copy.end {
		padding-bottom: 1.5rem;
	}
	.splash__headline {
		top: 1rem;
	}
}
@include breakpoint(laptopUp) {
	.display__copy.end {
		padding-bottom: 2.5rem;
	}
	.splash__headline {
		top: 1.5rem;
	}

}
