body {
	color: $kreadivBrown;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1rem;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: lighter;
	line-height: 1.5;
}
.display {
	font-weight: bold;
	color: $kreadivBlue;
}

.title {
	text-transform: uppercase;
}
.body2 {
	font-weight: bold;
	color: $kreadivBrown;
}
p {
	color: $fontLight;
	font-size: 1.25rem;
	line-height: 2;
}
.no-break {
	white-space: nowrap;
}
.about__link {
	transition: all 0.2s;
	&:hover {
		color: $kreadivGreen;
	}
}
@include breakpoint(mobileOnly) {
	.nav-item {
		font-size: 0.675rem;
	}
	.display {
		font-size: 1.75rem;
	}
	.title {
		font-size: 1.25rem;
	}
	.headline {
		font-size: 1.25rem;
	}
}
@include breakpoint(phabletUp) {
	.display {
		font-size: 2.25rem;
	}
	.title {
		font-size: 1.5rem;
	}
	.headline {
		font-size: 1.25rem;
	}
}
@include breakpoint(laptopUp) {
	.logo {
		font-size: 1.5rem;
	}
	.nav-item {
		font-size: 1.5rem;
	}
	.display {
		font-size: 3rem;
	}
	.title {
		font-size: 1.75rem;
	}
	.headline {
		font-size: 1.5rem;
	}
}
