.container {
  max-width: 75rem;
  margin: 0 auto; }

section {
  height: 100vh;
  width: 100%;
  position: relative; }

main {
  padding: 0 1rem;
  position: relative; }

.content {
  margin: 0 auto;
  max-width: 768px; }

@media (max-width: 800px) {
  .content {
    padding: 0 1.25rem; } }

body {
  color: #6A645B;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  line-height: 1.5; }

.display {
  font-weight: bold;
  color: #015A6B; }

.title {
  text-transform: uppercase; }

.body2 {
  font-weight: bold;
  color: #6A645B; }

p {
  color: rgba(106, 100, 91, 0.87);
  font-size: 1.25rem;
  line-height: 2; }

.no-break {
  white-space: nowrap; }

.about__link {
  transition: all 0.2s; }
  .about__link:hover {
    color: #05A852; }

@media (max-width: 37.5rem) {
  .nav-item {
    font-size: 0.675rem; }
  .display {
    font-size: 1.75rem; }
  .title {
    font-size: 1.25rem; }
  .headline {
    font-size: 1.25rem; } }

@media (min-width: 37.5rem) {
  .display {
    font-size: 2.25rem; }
  .title {
    font-size: 1.5rem; }
  .headline {
    font-size: 1.25rem; } }

@media (min-width: 60rem) {
  .logo {
    font-size: 1.5rem; }
  .nav-item {
    font-size: 1.5rem; }
  .display {
    font-size: 3rem; }
  .title {
    font-size: 1.75rem; }
  .headline {
    font-size: 1.5rem; } }

.splash-element {
  opacity: 0;
  /* to prevent flash on initial page load */ }

.splash__content {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 3rem;
  height: 100%;
  position: relative; }
  .splash__content .splash__message {
    position: absolute;
    bottom: 5rem;
    left: 1rem;
    opacity: 0; }

.splash__display {
  font-weight: bold; }

hr {
  opacity: 0;
  border-color: #015A6B;
  border-style: ridge; }

.splash__headline {
  position: relative;
  color: rgba(106, 100, 91, 0.87); }

.portfolio {
  color: rgba(106, 100, 91, 0.87);
  display: inline-block;
  font-weight: bold;
  margin-top: 2rem;
  transition: all 0.2s;
  margin-right: 4rem; }
  .portfolio:hover {
    color: #05A852;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #05A852; }

@media (max-width: 37.5rem) {
  .display__copy.end {
    padding-bottom: 1rem; } }

@media (min-width: 37.5rem) {
  .display__copy.end {
    padding-bottom: 1.5rem; }
  .splash__headline {
    top: 1rem; }
  .portfolio {
    font-size: 1.25rem; } }

@media (min-width: 60rem) {
  .display__copy.end {
    padding-bottom: 2.5rem; }
  .splash__headline {
    top: 1.5rem; } }

.contact__content {
  max-width: 800px;
  margin: 0 auto;
  opacity: 0;
  padding-top: 2rem; }

@media (max-width: 37.5rem) {
  .contact__content {
    padding-bottom: 2rem; } }

/* Reset */
body, ol, ul {
  padding: 0;
  margin: 0; }

ol, ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:visited {
    color: inherit; }

main, article, section, header, footer, aside {
  display: block; }

button:focus {
  outline: 0; }

body {
  background-color: #DEDFDC; }

.break {
  display: block; }
